<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>History</title>
  </head>
  <body>
    <%- include('header'); -%>

    <main
      id="history"
      data-twitterid="<%=twitterId %>"
      data-paymentcontractaddress="<%=paymentcontractaddress %>"
      data-currency="ONE"
      data-rpc="<%=rpc %>"
    >
      <hgroup>
        <h3 class="text-align-center">History</h3>
      </hgroup>
      <article>
        <h3 id="received-summary">
          Received <span id="received-count"></span>
        </h3>
        <div id="received-details-content"></div>
        <div id="received-buttons" class="rowAround"></div>
        <hr />
        <h3 id="sent-summary">Sent <span id="sent-count"></span></h3>
        <div id="sent-details-content"></div>
        <div id="sent-buttons" class="rowAround"></div>
      </article>
    </main>
  </body>
  <script src="/js/web3.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/history.js"></script>
</html>
