<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Follower Token</title>

    <style>
      /* Global CSS variables */
      :root {
        --spacing: 3rem;
        --text-weight: 400;
        --titles-weight: 800;
        --block-round: 0;
      }

      /* Typography */
      h2,
      h3,
      hgroup > :last-child {
        font-weight: 200;
      }
      small {
        color: var(--muted-text);
      }

      /* Header */

      :root:not([data-theme="dark"]),
      [data-theme="light"] {
        --nav-background: rgba(255, 255, 255, 0.7);
        --nav-border: rgba(115, 130, 140, 0.2);
      }

      [data-theme="dark"] {
        --nav-background: rgba(16, 24, 30, 0.8);
        --nav-border: rgba(115, 130, 140, 0.2);
      }
    </style>
  </head>

  <body>
    <%- include('header'); -%>

    <div>
      <header class="container">
        <hgroup class="text-align-center">
          <h1>The Follower Token</h1>
          <h2>Twitter... Tokenized!</h2>
        </hgroup>
        <p class="text-align-center">
          <a href="/login/federated/twitter.com" role="button">Sign in</a>
        </p>
      </header>
      <hr />
      <main>
        <hgroup class="text-align-center">
          <h1>Roadmap</h1>
        </hgroup>
        <div class="container">
          <div class="main-timeline">
            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">March</span>
                    <span class="year">2022</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Airdrops</h5>
                <p class="description">
                  Join The Follower Token DAO by Claiming Your
                  <strong>Free</strong> Tokens with Your Twitter Account.
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">June</span>
                    <span class="year">2022</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Tipping and Payments</h5>
                <p class="description">
                  Decentralized Twitter to Twitter Payments using BNB and The
                  Follower Token. Send value to an account directly with Smart
                  Contracts!
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">September</span>
                    <span class="year">2022</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Retweet Market</h5>
                <p class="description">
                  Promote your Tweets by Listing them on the Retweet Market.
                  Claim Token Rewards for Retweeting Tweets! Pay for Promotion
                  Seamlessly.
                </p>
              </div>
            </div>
            <!-- end experience section-->

            <!-- start experience section-->
            <div class="timeline">
              <div class="icon"></div>
              <div class="date-content">
                <div class="date-outer">
                  <span class="date">
                    <span class="month">January</span>
                    <span class="year">2023</span>
                  </span>
                </div>
              </div>
              <div class="timeline-content">
                <h5 class="title">Perpetual Swaps</h5>
                <p class="description">
                  Trade Tokenized Tweet NFTs via our Perpetual Smart Contract
                  Platform. Issue and Purchase NFTs with Verifiable
                  Authenticity!
                </p>
              </div>
            </div>
            <!-- end experience section-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
