<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Budgie Pay</title>
  </head>

  <body>
    <%- include('header'); -%>

    <div>
      <header class="container">
        <div class="text-align-center">
          <img src="/images/birds.webp" width="300px" />
        </div>

        <hgroup class="text-align-center">
          <h1>Budgie Pay</h1>
          <h2>Send Crypto Payments to Twitter Users!</h2>
        </hgroup>
        <p class="text-align-center">
          <a href="/login/federated/twitter.com" role="button">Sign in</a>
        </p>
      </header>
    </div>
    <div id="overlay">
      <div class="cookie-banner">
        <p>
          This website is using <strong>Functional</strong> cookies. By
          continuing to use it, you agree to store session cookies in your
          browser.
        </p>
        <button id="accept">Ok</button>
      </div>
    </div>
  </body>
  <script src="/js/landingpage.js"></script>
</html>
