<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Payments</title>
  </head>
  <body>
    <%- include('header'); -%>

    <main class="container">
      <hgroup class="text-align-center">
        <h3 class="text-align-center">Make Payment using Harmony One</h3>
        <hr />
      </hgroup>

      <form
        id="payForm"
        data-chain="HARMONY"
        data-contractaddress="<%= contractaddress %>"
        data-currency="<%=currency %>"
      >
        <label for="twitterHandle" class="text-align-center"
          >Transfer to Twitter Handle:</label
        >
        <input
          placeholder="@"
          id="twitterHandle"
          class="max-width-300 center borderRadius-25"
          type="text"
          required
          name="twitterHandle"
        />
        <label for="payamount" class="text-align-center"
          >Amount: <small>(Max value 500$)</small>
        </label>
        <input
          placeholder="ONE"
          id="payamount"
          class="max-width-300 center borderRadius-25"
          type="number"
          step="any"
          name="amount"
          required
        />
        <label for="2faCode" class="text-align-center">Auth Code: </label>
        <input
          placeholder="0"
          id="2faCode"
          class="max-width-300 center borderRadius-25"
          type="number"
          name="code"
          required
        />
        <div id="errorSlot" class="text-align-center"></div>
        <button type="submit" class="max-width-300 center borderRadius-25">
          PAY
        </button>
      </form>
      <div class="text-align-center">
        <a class="center" href="/one/history?sent=0&received=0">History</a>
      </div>
    </main>
  </body>
  <script src="/js/web3.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/payments.js"></script>
</html>
